.primary-color {
  color: #2E2757;
}

.primary-background {
  background-color: #2E2757;
}

.secondary-color {
  color: #0F8EC5;
}

.secondary-background {
  background-color: #0F8EC5;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.tagline {
  padding-top: 3vh;
  font-weight: 600;
  color: white;
  text-align: center;
}

.jumbotron {
  background-color: #ff0000;
  background-image: url('images/map_boston.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
  font-weight: bold !important;
  text-shadow: 1px 1px 5px white;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #f4511e;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #f4511e;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}
.panel-heading {
  color: #fff !important;
  background-color: #e60000 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

/* total height minus navbar */
.homebody {
  height: calc(100vh - 120px);
  background: url('images/civicSquare.png') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}

.navbar {
  height: 120px;
  margin-bottom: 0;
  /*background-color: #e60000; */
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  background-color: #ff0000 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.score {
  display: block;
  font-size: 1.3em;
  font-style: oblique;
}
.text-green {
  color: #006f6f;
}
.text-red {
  color: #b90000;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

.agency-list {
  display: inline-block;
}

.agency-list li {
  display: inline-block;
  width: 200px;
  border: solid 1px gainsboro;
  height: 100px;
  vertical-align: top;
  margin: 0.4em;
  border-radius: 6px;
  padding: 0.5em;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  box-shadow: 1px 1px 2px #0000000f;
  line-height: 1.2;
}

.agency-list a {
  color: #3a3535;
  text-decoration: none;
}

html,
body {
  font-family: sans-serif;
}

.agency-list li:hover {
  transform: scale(1.1);
  background: #f9f9f9;
}

.fadein {
  animation: fadein 2s;
  opacity: 1;
}

@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.svg {
  height: 35%;
  margin: 0 auto;
}

.donut {
  stroke: #c4c4c4;
  stroke-width: 6;
  animation: donut2 3s;
  stroke-dasharray: 80, 20;
  filter:url(#shadow);
}

@keyframes donut2 {
  0% {
      stroke-dasharray: 0, 100;
  }
  100% {
      stroke-dasharray: 80, 20;
  }
}

.our-card {
  background-color: rgba(255,255,255,0.8);
}

.card-header {
  color: #2E2757;
  font-size: 1.4em;
  font-style: bold;
}
