option_settings:
  aws:elasticbeanstalk:application:environment:
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
    DJANGO_SETTINGS_MODULE: config.settings.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_clear_static:
    command: "python manage.py collectstatic --clear --noinput"
    leader_only: true
  03_collect_static:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  04_load_data:
    command: "python manage.py loaddata apps/civic_pulse/data/agencies.json --noinput"
    leader_only: true



packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
