{% extends 'base.html' %} {% load static %} {% block css %} {% endblock css %}
{% block content %}

<div class="container-fluid">
    {% if agencies %}
    <ul class="agency-list">
    
        {% for agency in agencies %}
        <li>
            <a href="{% url 'agency-detail' agency.id %}">{{ agency.name }}</a>
        </li>
        {% endfor %}
    
    {% else %}
    <p>No agencies available.</p>
    {% endif %} {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
            <a href="{% url 'agency-list-all' %}">View All</a>
        </span>
    </div>
    {% endif %}
</div>

{% endblock content %}
