{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock css %}
{% block content %}
<div class="homebody">
  <h4 class="tagline">
    Search your local government websites to see how they stack up!
  </h4>
  <div class="svg">
      <style>
          .tiny { font: bold 4px 'Khula'; }
          .small { font: bold 6px 'Khula'; }
          .heavy { font: bold 10px 'Khula'; }
        </style>

  <svg width="100%" height="100%" viewBox="0 0 40 40">
    <defs>
      <filter id="shadow" height="150%" width="150%">
        <feDropShadow dx="0.6" dy="1.0" stdDeviation="0.2"/>
      </filter>
    </defs>
    <g class="donut">
        <circle class="donut2" cx="20" cy="20" r="15.91549431" fill="transparent"></circle>
    </g>
    <text class="heavy" x="13" y="18">80</text>
    <text class="small" x="24" y="18">%</text>
    <text class="tiny" x="10" y="23">of municipal</text>
    <text class="tiny" x="10" y="28">sites are not</text>
    <text class="tiny" x="14" y="33">secure</text>
  </svg>
</div>
<form action="">
  <div class="input-group mx-auto mt-3" style="width: 62%;">
    <input type="search" placeholder="Agency, City, Town, or State" aria-describedby="button-addon5" class="form-control">
    <div class="input-group-append">
      <button id="button-search" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
  </div>
</form>
<div class="container">
    <div class="row">
        <div class="card our-card col-md-3 mt-3 mx-auto">
          <div class="card-header" >What we do...</div>
          <div class="card-body" >
            <p>When our physical infrastructure — from bridges to sidewalks to playgrounds —isn’t up to shape, we can often see it, and the consequences are dire. Digital infrastructure can be just as important to maintain, and GovLens provides an easy way to see how your community is doing.</p>
        </div><
        </div>
        <div class="card our-card col-md-3 mt-3 mx-auto">
            <div class="card-header" >Why does HTTPS matter?</div>
            <div class="card-body" >
                <p><a href=”https://en.wikipedia.org/wiki/HTTPS”>HTTPS</a> means that your traffic is encrypted so only you and the website you are visiting know what you are communicating. This isn’t fool-proof security, but it is a basic step to ensure that it’s harder for people to eavesdrop on what you are reading, intercept messages you send to government agencies, and secretly modify what you see.</p>
  </div>
          </div>
        <div class="card our-card col-md-3 mt-3 mx-auto">
            <div class="card-header" >Take action!</div>
            <div class="card-body" >
              <p>
We want to help agency staff, the press, and the general public better understand the state of government web security while also providing tips on how things can be improved — even on tight budgets. Look up your city or an agency in the search box above, see how it scores, and learn more about potential ways to keep improving.
              </p>
              </div>
          </div>
      </div>
</div>
{% endblock content %}
